

* {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
}

header {
        color: black;
}

p {
        font-weight: bold;
        background-color: beige;
        color: black;
}

h1, h2, h3, h4, h5, h6 {
        font-weight: normal; /* By default came in blackbold mode */
}

img {
        width: 1000px;
        text-align: center;
}
