//General Section
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$all-font-family: 'Montserrat';
$all-mobile-color: white;

// Mobile Section
$h1-mobile-font-size: 20px;
$h2-mobile-font-size: 12px;
$h3-mobile-font-size: 9px;
$a-mobile-font-size: 7px;

$all-mobile-background-color: black;

// Tablet Section
$h1-tablet-font-size: 26px;
$h2-tablet-font-size: 16px;
$h3-tablet-font-size: 12px;
$a-tablet-font-size: 10px;

$all-tablet-background-color: orange;

// Desktop Section
$h1-desktop-font-size: 36px;
$h2-desktop-font-size: 24px;
$h3-desktop-font-size: 18.5px;
$a-desktop-font-size: 16px;

$all-desktop-background-color: darkcyan;
