@use 'modulus/variables' as mod-var;
@use 'modulus/rselector' as mod-sel;

* {
    margin: 0;
    padding: 0;
    font-family: mod-var.$all-font-family;
    background-color: mod-var.$all-mobile-background-color;
    color: white;
}

img {
    @include mod-sel.img-80;
}

main > img {
    @include mod-sel.img-100;
}

#header > nav {
    display: flex;
    justify-content: center;
  
    > a {
      font-weight: 600; /* Bold */
      text-decoration: none; /* Without line below */
      padding: 6px 15px;
    }
}

footer > nav {
    display: flex;
    justify-content: center;

    > a {
        text-decoration: none;
    padding: 6px 15px;
    }
}

        /* My screen 1920 x 1080*/
/* =============== Media Query =============== */
/* @media = @media all */
/*
1. footer > nav a { ... }
Este selector tiene dos partes principales:
footer > nav: Selecciona el elemento <nav> que es hijo directo de un elemento <footer>.
a: Luego, dentro del <nav>, selecciona todos los elementos <a> en cualquier nivel de 
anidamiento dentro de ese <nav>
2. footer > nav > a { ... }
Este selector tiene tres partes:
footer > nav: Selecciona el elemento <nav> que es hijo directo de un <footer>.
nav > a: Luego, selecciona los elementos <a> que son hijos directos del <nav>.
*/

/*
Antes de haber usado mixin
No funciono lo que aparece abajo
En modulus/rselector
Attempt1

img-100 {
    width: 100%;
    height: 100%;
}

img-80 {
    width: 80%;
    height: 80%;
}

Attempt2

.img-100 {
    width: 100%;
    height: 100%;
}

.img-80 {
    width: 80%;
    height: 80%;
}
*/