@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font: normal normal bold 22px / 40px Montserrat;
  color: #67737a;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background-color: black;
    color: white;
}

#header > nav{
    display: flex;
    justify-content: center;
}

#header > nav > a{
    font-weight: 600; /*Bold*/
    text-decoration: none; /*Without line below*/
    padding: 6px 15px;
}

footer > nav {
    display: flex;
    justify-content: center;
}

footer > nav > a {
    text-decoration: none;
    padding: 6px 15px;
}

#flexparent > div:nth-child(1){
    display: flex;
    justify-content: center;
}


#flexparent > div:nth-child(2){
    display: flex;
    justify-content: left;
}

#flexparent > div:nth-child(3){
    display: flex;
    justify-content: right;
}

#flexparent > div:nth-child(4){
    display: flex;
    justify-content: space-between;
}


#flexparent > div:nth-child(5){
    display: flex;
    justify-content: space-around;
}

/*Texto dentro de Imagen*/

#flexparent > div:nth-child(6){
    display: flex;
    justify-content: center;
    position: relative;
}

#flexparent > div:nth-child(6) > h3{ /*#phrase*/
    position: absolute;
    display: flex;
    justify-content: center;
}

#phrase {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Cambia el color según el fondo */
    text-align: center;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente para mejor visibilidad */
    padding: 10px; /* Espaciado alrededor del texto */
}

img {
    width: 50%;
    height: 50%;
}

/*
https://www.youtube.com/watch?v=4WlOokagtR4

https://www.youtube.com/watch?v=DnsrfzFeNg0

Animaciones
https://www.youtube.com/watch?v=p4HCZYJdzZo

Position Absolute y Relative
https://www.youtube.com/watch?v=-CqPM1x1T2Y

Menu desplegable
https://www.youtube.com/watch?v=oZa2Ut8u2S0

Poner texto sobre una imagen
https://www.youtube.com/watch?v=k_fZr4DSC_Y

Poner sombra a una imagen con fondo transparente
https://www.youtube.com/watch?v=W9wfnCra-FI

Efecto de Imagen dentro de texto
https://www.youtube.com/watch?v=-7aIjVALrP0

Efecto de blur en imagenes
https://www.youtube.com/watch?v=9nta9-bsMiw
*/